.toolbar {
}

.wrapper {
  flex: 0 0 50px !important;
}

.breadcrumb ol {
  background-color: transparent;
}

.breadcrumb li:before {
  /* chevron-right icon */
  font-family: "FontAwesome";
  content: "\f054" !important;
  font-weight: 100;
}

.breadcrumb li:first-of-type:before {
  /* chevron-right icon */
  content: "" !important;
}

.breadcrumb li > a,
.breadcrumb li {
  color: inherit;
  font-weight: 300;
}
