.card {
  height: 3rem;
  width: 12rem;
  cursor: pointer;
}

.card:hover {
  background-color: lightgray;
}

.body {
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 25%;
  white-space: nowrap;
}
