/* >>>>>>>>>>>> config <<<<<<<<<<<<< */
.tree-view {
  /* ---------- icons ---------- */
  --font-family-icons: "FontAwesome";
  /* other */
  --caret-right-icon: "\f0da";

  /* ----------- font ----------- */
  /* default */
  --default-color: rgb(92, 92, 92);
  --default-font-size: 0.95rem;
  --default-font-weight: normal;

  /*------ color and bg-color ----- */
  /* hover */
  --hover-color: black;
  --hover-bg-color: lightgray;
  /* selected */
  --selected-color: white;
  --selected-bg-color: gray;
  /* icons */
  --caret-color: black;
  /* --document-color: cornflowerblue;
  --folder-color: var(--default-color); */
}

/* The list style
  -------------------------------------------------------------- */

.tree-view,
.tree-view > ul {
  padding: 0;
}

.root ul {
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dashed #ddd;
}

.tree-view li {
  list-style: none;
  color: var(--default-color);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
}

/* archive */
.root-li {
  font-size: 1rem;
  font-weight: bold;
}

.root-li.selected {
  font-weight: 600;
}

/* folder */
.folder > ul {
  display: none;
  margin-left: 20px;
}
.folder {
  margin-left: -10px;
}

.folder.show > ul {
  display: block;
}

.folder-icon {
  margin-right: 5px;
}

.folder-badge {
  margin-left: 5px;
}

/* hover */
.document-li:hover,
.folder-content:hover,
.root-li:hover {
  color: var(--hover-color);
  background-color: var(--hover-bg-color);
}

/* selected */
.document > .selected,
.document > .selected:before,
.folder-li.selected > .folder-content,
.folder-li.selected > .folder-content,
.root-li.selected {
  color: var(--selected-color);
  background-color: var(--selected-bg-color);
}

/* The icons
    -------------------------------------------------------------- */

.root-li,
.folder-content,
.document-li {
  width: 100%;
  margin-right: 5px;
  padding-left: 5px;
}

/* caret icon */
.caret-icon:before {
  font-family: var(--font-family-icons);
  content: var(--caret-right-icon);
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  color: var(--caret-color);
}

.folder.show > .folder-li .caret-icon:before {
  transform: rotate(45deg);
}
