.upload-btn {
  border-style: dashed !important;
  width: 50%;
  transition: width 500ms !important;
}

.upload-btn:hover {
  width: 100%;
}

@media (max-width: 1200px) {
  .upload-btn {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .upload-btn {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .upload-btn {
    width: 100%;
  }
}

.drag-accept {
  border-color: var(--success) !important;
  border-width: 1.5px !important;
  border-style: solid !important;
  width: 100%;
}

.drag-accept > span {
  color: var(--success);
  font-weight: 600;
}

.drag-reject {
  border-color: var(--danger) !important;
  border-width: 1.5px !important;
  width: 100%;
  cursor: no-drop;
}

.drag-reject > span {
  color: var(--danger);
  font-weight: 600;
}
